# dependencies
node_modules/

# env
.env
.env.*
!.env.example

# prisma local database
prisma/dev.db
prisma/dev.db-journal
prisma/*.db
prisma/*.db-journal

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
logs/
*.log

# OS
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/

# build/cache
dist/
build/
.cache/
coverage/

cookies.txt
cookies.txt
